/*
Here are the colors:

#F5C6D6
#EE2E84
#85CFD8
#8DC63F
#E76E34
----------------------------
You must make this color grid keep its regular form (look like the picture above) from large screens down until 768px.
Once it gets below 768px, each color must expand to the full-width of its container.
*/
/*
DIVs:
        <div id="top"></div>
        <div class="body1"></div>
        <div class="body1"></div>
        <div class="body1"></div>
        <div class="body1"></div>
        <div class="body2"></div>
        <div class="body2"></div>
        <div id="btm1"></div>
        <div id="btm2"></div>
*/

@media only screen and (min-width: 768px){
    #top{
        background-color: #F5C6D6;
        width: inherit;
        height: 125px;
    }
    #cntnr1{
        background-color: #EE2E84;
        height: 125px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1em;
    }

    #cntnr2{
        background-color: #85CFD8;
        height: 125px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #bottom{
        background-color: #8DC63F;
        height: 125px;
        display: grid;
        grid-template-columns: 70% 30%;
        
    }
}

@media only screen and (max-width: 768px){}